<poke-search (emitSearch)="getSearch($event)"></poke-search>

<section class="listagem">    
    <ng-template ngFor let-pokemon [ngForOf]="getAllPokemons" >
        
        <!-- o class e li  abaixo estão levando o nome de "stauts",por erro da API onde seria status -->
        <a [routerLink]="['details',pokemon.stauts.id]" class="pokemon" *ngIf="pokemon.stauts">
            <section class="pokemon__status">
                <h2>
                {{ pokemon.name }}
            </h2>
            
            <ul>
               <li *ngFor="let value of pokemon.stauts.types">
                {{ value.type.name }}
                
               </li>
            </ul>
        </section>
        
        <section class="pokemon__image">
            <img 
                [src]="pokemon.stauts.sprites.other.dream_world.front_default" 
                [alt]="pokemon.name"
            >
        </section>
    </a>
</ng-template>
</section>

<img 
    src="assets/error.png"
    alt="Erro de mostragem"
    width="100%"
    *ngIf="apiError"
>

